<!DOCTYPE html>
<html>
  <head>
    <title>Frankie of Portobello</title>
      <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <div class="nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="activities">Activities</a><li>
      </ul>  
    </div>  

  <div class="jumbotron">
    <div class="container">
      <div class="main">
        <%= yield %>
        <a class="btn-main" href="foodie">Foodie</a>
        <a class="btn-main" href="napper">Napper</a>
        <a class="btn-main" href="runner">Runner</a>
        <a class="btn-main" href="beachie">Beachie</a>
        <a class="btn-main" href="traveller">Traveller</a>
      </div>  
    </div>
  </div>  

<footer></footer>  
</body>
